/* --------------- CSS RESET -------------- */

* {
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* --------------- LOGIN PAGE -------------- */

#login {
    height: 100vh;
    padding-top: 25vh;
    background: #0601ff;
}

.container-box {
    max-width: 800px;
    background: #5b5662;
    border-radius: 25px;
    border: 5px solid #fff;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #fff;
}

.container-box form p label {
    font-size: 20px;
}

.container-box form p input {
    border-radius: 20px;
    border: #000 solid 2px;
    padding: 2px;
}

.container-box form button {
    padding: 5px;
    border-radius: 15px;
    background: none;
    border: #fff solid 2px;
    color: #fff;
}

.container-box form button:hover {
    -webkit-transition-duration: 2s;
    background: #fff;
    color: #000;
}

/* --------------- HOMEPAGE -------------- */
#home {
    height: 100vh;
    padding-top: 25vh;
    background: #00708f;
}

.container {
    max-width: 1100px;
}

.container h1 {
    font-size: 64px;
    color: #fff;
}

.container a {
    color: #fff;
    font-size: 28px;
    background: #000;
    border-radius: 15px;
    padding: 5px;
    border: #000 solid 2px;
}

.container a:hover {
    background: none;
    -webkit-transition-duration: 2s;
    text-decoration: none;
}