<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">

    <title>HOME</title>
</head>
<body>
    <div id="home">
        <div class="container">
            {% if user.is_authenticated %}
                <h1>Hi {{ user.username }}!</h1>
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <h1>Silakan Login terlebih dahulu</h1>
                <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>
    </div>
</body>
</html>